openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Due Charge Batches API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Due Charge Batches
paths:
  /v2/lotecobv:
    get:
      tags:
      - Due Charge Batches
      summary: List Due Charge Batches
      operationId: pixListDueChargeBatch
      responses:
        '200':
          description: Batches
  /v2/lotecobv/{id}:
    put:
      tags:
      - Due Charge Batches
      summary: Create Due Charge Batch
      operationId: pixCreateDueChargeBatch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
    patch:
      tags:
      - Due Charge Batches
      summary: Update Due Charge Batch
      operationId: pixUpdateDueChargeBatch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    get:
      tags:
      - Due Charge Batches
      summary: Detail Due Charge Batch
      operationId: pixDetailDueChargeBatch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Batch
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
