openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Pix Send API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Pix Send
paths:
  /v3/gn/pix/{idEnvio}:
    put:
      tags:
      - Pix Send
      summary: Send Pix Cash Out
      operationId: pixSend
      parameters:
      - name: idEnvio
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Sent
  /v2/gn/pix/{idEnvio}/qrcode:
    put:
      tags:
      - Pix Send
      summary: Pay Pix QR Code
      operationId: pixQrCodePay
      parameters:
      - name: idEnvio
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Paid
  /v2/gn/pix/{idEnvio}/mesma-titularidade:
    put:
      tags:
      - Pix Send
      summary: Send Pix Same Ownership
      operationId: pixSendSameOwnership
      parameters:
      - name: idEnvio
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Sent
  /v2/gn/pix/enviados:
    get:
      tags:
      - Pix Send
      summary: List Sent Pix
      operationId: pixSendList
      responses:
        '200':
          description: Sent Pix list
  /v2/gn/pix/enviados/{e2eid}:
    get:
      tags:
      - Pix Send
      summary: Detail Sent Pix
      operationId: pixSendDetail
      parameters:
      - name: e2eid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detail
  /v2/gn/pix/enviados/id-envio/{idEnvio}:
    get:
      tags:
      - Pix Send
      summary: Detail Sent Pix By Send Id
      operationId: pixSendDetailId
      parameters:
      - name: idEnvio
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detail
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
