openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Charges API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Charges
paths:
  /charge:
    post:
      tags:
      - Charges
      summary: Create Charge
      operationId: createCharge
      responses:
        '200':
          description: Charge created
  /charge/one-step:
    post:
      tags:
      - Charges
      summary: Create One Step Charge
      operationId: createOneStepCharge
      responses:
        '200':
          description: Charge created
  /charge/{id}:
    get:
      tags:
      - Charges
      summary: Detail Charge
      operationId: detailCharge
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Charge detail
  /charges:
    get:
      tags:
      - Charges
      summary: List Charges
      operationId: listCharges
      responses:
        '200':
          description: Charges list
  /charge/{id}/cancel:
    put:
      tags:
      - Charges
      summary: Cancel Charge
      operationId: cancelCharge
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Cancelled
  /charge/{id}/pay:
    post:
      tags:
      - Charges
      summary: Define Payment Method
      operationId: definePayMethod
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Method applied
  /charge/{id}/billet:
    put:
      tags:
      - Charges
      summary: Update Billet
      operationId: updateBillet
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Updated
  /charge/{id}/billet/resend:
    post:
      tags:
      - Charges
      summary: Send Billet Email
      operationId: sendBilletEmail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Email queued
  /charge/{id}/metadata:
    put:
      tags:
      - Charges
      summary: Update Charge Metadata
      operationId: updateChargeMetadata
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Metadata updated
  /charge/{id}/history:
    post:
      tags:
      - Charges
      summary: Create Charge History Note
      operationId: createChargeHistory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Note added
  /charge/{id}/balance-sheet:
    post:
      tags:
      - Charges
      summary: Define Balance Sheet Billet
      operationId: defineBalanceSheetBillet
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Balance sheet set
  /charge/{id}/settle:
    put:
      tags:
      - Charges
      summary: Settle Charge Manually
      operationId: settleCharge
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Settled
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
