openapi: 3.2.0
info:
  title: Efí Pay Pix Locations API
  description: Brazilian Pix instant-payments API for Efí Pay (formerly Gerencianet). Implements the Banco Central do Brasil Pix specification (cob/cobv/cobr, locations, devolutions, Pix keys/EVP) plus Efí Pay extensions for Cash-Out (pixSend), splits, MED infractions, recurring/automatic Pix, statements, receipts, and webhooks. OAuth2 client_credentials with mandatory mutual TLS (P12/PEM certificate).
  version: '2.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/api-pix
  license:
    name: Proprietary
servers:
- url: https://pix.api.efipay.com.br
  description: Production
- url: https://pix-h.api.efipay.com.br
  description: Homologation (Sandbox)
security:
- oauth2Pix: []
tags:
- name: Locations
paths:
  /v2/loc:
    post:
      tags:
      - Locations
      summary: Create Pix Location
      operationId: pixCreateLocation
      responses:
        '201':
          description: Location
    get:
      tags:
      - Locations
      summary: List Pix Locations
      operationId: pixLocationList
      responses:
        '200':
          description: Locations
  /v2/loc/{id}:
    get:
      tags:
      - Locations
      summary: Detail Pix Location
      operationId: pixDetailLocation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Location
  /v2/loc/{id}/txid:
    delete:
      tags:
      - Locations
      summary: Unlink Txid From Location
      operationId: pixUnlinkTxidLocation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Unlinked
components:
  securitySchemes:
    oauth2Pix:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.read: Read immediate charges
            cob.write: Create/update immediate charges
            cobv.read: Read due charges
            cobv.write: Create/update due charges
            pix.read: Read received Pix
            pix.write: Manage devolutions
            pix.send: Send Pix
            webhook.read: Read webhook config
            webhook.write: Configure webhooks
            gn.balance.read: Read account balance
