openapi: 3.2.0
info:
  title: Efí Pay Contas (Account Opening) Accounts API
  description: Account-opening API for Efí Pay partners. Programmatically open Brazilian "conta-simplificada" accounts for end-customers, retrieve their generated P12 certificates and API credentials, and manage account-related webhooks. Used by marketplaces, ERPs, and BaaS-style integrators.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/abertura-de-contas
  license:
    name: Proprietary
servers:
- url: https://abrircontas.api.efipay.com.br/v1
  description: Production
- url: https://abrircontas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2Contas: []
tags:
- name: Accounts
paths:
  /conta-simplificada:
    post:
      tags:
      - Accounts
      summary: Create Simplified Account
      operationId: createAccount
      responses:
        '201':
          description: Account created
  /conta-simplificada/{identificador}/certificado:
    post:
      tags:
      - Accounts
      summary: Generate Account Certificate
      operationId: getAccountCertificate
      parameters:
      - name: identificador
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: P12 certificate issued
  /conta-simplificada/{identificador}/credenciais:
    get:
      tags:
      - Accounts
      summary: Get Account Credentials
      operationId: getAccountCredentials
      parameters:
      - name: identificador
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: client_id + client_secret pair
components:
  securitySchemes:
    oauth2Contas:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://abrircontas.api.efipay.com.br/v1/oauth/token
          scopes: {}
