openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account MED Infractions API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: MED Infractions
paths:
  /v2/gn/infracoes:
    get:
      tags:
      - MED Infractions
      summary: List MED Infractions
      operationId: medList
      responses:
        '200':
          description: Infractions
  /v2/gn/infracoes/{idInfracao}/defesa:
    post:
      tags:
      - MED Infractions
      summary: Submit MED Defense
      operationId: medDefense
      parameters:
      - name: idInfracao
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Submitted
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
