openapi: 3.2.0
info:
  title: Efí Pay Pix Pix Send API
  description: Brazilian Pix instant-payments API for Efí Pay (formerly Gerencianet). Implements the Banco Central do Brasil Pix specification (cob/cobv/cobr, locations, devolutions, Pix keys/EVP) plus Efí Pay extensions for Cash-Out (pixSend), splits, MED infractions, recurring/automatic Pix, statements, receipts, and webhooks. OAuth2 client_credentials with mandatory mutual TLS (P12/PEM certificate).
  version: '2.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/api-pix
  license:
    name: Proprietary
servers:
- url: https://pix.api.efipay.com.br
  description: Production
- url: https://pix-h.api.efipay.com.br
  description: Homologation (Sandbox)
security:
- oauth2Pix: []
tags:
- name: Pix Send
paths:
  /v3/gn/pix/{idEnvio}:
    put:
      tags:
      - Pix Send
      summary: Send Pix Cash Out
      operationId: pixSend
      parameters:
      - name: idEnvio
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Sent
  /v2/gn/pix/{idEnvio}/qrcode:
    put:
      tags:
      - Pix Send
      summary: Pay Pix QR Code
      operationId: pixQrCodePay
      parameters:
      - name: idEnvio
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Paid
  /v2/gn/pix/{idEnvio}/mesma-titularidade:
    put:
      tags:
      - Pix Send
      summary: Send Pix Same Ownership
      operationId: pixSendSameOwnership
      parameters:
      - name: idEnvio
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Sent
  /v2/gn/pix/enviados:
    get:
      tags:
      - Pix Send
      summary: List Sent Pix
      operationId: pixSendList
      responses:
        '200':
          description: Sent Pix list
  /v2/gn/pix/enviados/{e2eid}:
    get:
      tags:
      - Pix Send
      summary: Detail Sent Pix
      operationId: pixSendDetail
      parameters:
      - name: e2eid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detail
  /v2/gn/pix/enviados/id-envio/{idEnvio}:
    get:
      tags:
      - Pix Send
      summary: Detail Sent Pix By Send Id
      operationId: pixSendDetailId
      parameters:
      - name: idEnvio
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Detail
components:
  securitySchemes:
    oauth2Pix:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.read: Read immediate charges
            cob.write: Create/update immediate charges
            cobv.read: Read due charges
            cobv.write: Create/update due charges
            pix.read: Read received Pix
            pix.write: Manage devolutions
            pix.send: Send Pix
            webhook.read: Read webhook config
            webhook.write: Configure webhooks
            gn.balance.read: Read account balance
