openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Biometric Pix API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Biometric Pix
paths:
  /pagamentos-biometria/vinculos:
    post:
      tags:
      - Biometric Pix
      summary: Create Biometric Enrollment
      operationId: ofCreateBiometricEnrollment
      responses:
        '201':
          description: Enrollment created
    get:
      tags:
      - Biometric Pix
      summary: List Biometric Enrollments
      operationId: ofListBiometricEnrollment
      responses:
        '200':
          description: Enrollments
    patch:
      tags:
      - Biometric Pix
      summary: Revoke Biometric Enrollment
      operationId: ofRevokeBiometricEnrollment
      responses:
        '200':
          description: Revoked
  /pagamentos-biometria/pix:
    post:
      tags:
      - Biometric Pix
      summary: Create Biometric Pix Payment
      operationId: ofCreateBiometricPixPayment
      responses:
        '201':
          description: Created
    get:
      tags:
      - Biometric Pix
      summary: List Biometric Pix Payments
      operationId: ofListBiometricPixPayment
      responses:
        '200':
          description: Payments
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
