openapi: 3.2.0
info:
  title: Gerencianet Webhooks API
  license:
    name: Proprietary
  version: '1.0'
  description: 'Operations tagged Webhooks across 2 of this provider''s published API definitions: efi-contas-openapi.yml, efi-pix-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://abrircontas.api.efipay.com.br/v1
  description: Production
- url: https://abrircontas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
- url: https://pix.api.efipay.com.br
  description: Production
- url: https://pix-h.api.efipay.com.br
  description: Homologation (Sandbox)
tags:
- name: Webhooks
paths:
  /webhook:
    post:
      tags:
      - Webhooks
      summary: Configure Account Webhook
      operationId: accountConfigWebhook
      responses:
        '201':
          description: Webhook configured
      security:
      - oauth2Contas: []
    servers:
    - url: https://abrircontas.api.efipay.com.br/v1
      description: Production
    - url: https://abrircontas-h.api.efipay.com.br/v1
      description: Homologation (Sandbox)
  /webhook/{identificadorWebhook}:
    get:
      tags:
      - Webhooks
      summary: Detail Account Webhook
      operationId: accountDetailWebhook
      parameters:
      - name: identificadorWebhook
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Webhook
      security:
      - oauth2Contas: []
    delete:
      tags:
      - Webhooks
      summary: Delete Account Webhook
      operationId: accountDeleteWebhook
      parameters:
      - name: identificadorWebhook
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
      security:
      - oauth2Contas: []
    servers:
    - url: https://abrircontas.api.efipay.com.br/v1
      description: Production
    - url: https://abrircontas-h.api.efipay.com.br/v1
      description: Homologation (Sandbox)
  /webhooks:
    get:
      tags:
      - Webhooks
      summary: List Account Webhooks
      operationId: accountListWebhook
      responses:
        '200':
          description: Webhooks
      security:
      - oauth2Contas: []
    servers:
    - url: https://abrircontas.api.efipay.com.br/v1
      description: Production
    - url: https://abrircontas-h.api.efipay.com.br/v1
      description: Homologation (Sandbox)
  /v2/webhook/{chave}:
    put:
      tags:
      - Webhooks
      summary: Configure Pix Webhook
      operationId: pixConfigWebhook
      parameters:
      - name: chave
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Configured
      security:
      - oauth2Pix: []
    get:
      tags:
      - Webhooks
      summary: Detail Pix Webhook
      operationId: pixDetailWebhook
      parameters:
      - name: chave
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Webhook
      security:
      - oauth2Pix: []
    delete:
      tags:
      - Webhooks
      summary: Delete Pix Webhook
      operationId: pixDeleteWebhook
      parameters:
      - name: chave
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/webhook:
    get:
      tags:
      - Webhooks
      summary: List Pix Webhooks
      operationId: pixListWebhook
      responses:
        '200':
          description: Webhooks
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/webhookrec:
    put:
      tags:
      - Webhooks
      summary: Configure Recurring Pix Webhook
      operationId: pixConfigWebhookRecurrenceAutomatic
      responses:
        '200':
          description: Configured
      security:
      - oauth2Pix: []
    get:
      tags:
      - Webhooks
      summary: List Recurring Pix Webhooks
      operationId: pixListWebhookRecurrenceAutomatic
      responses:
        '200':
          description: Webhooks
      security:
      - oauth2Pix: []
    delete:
      tags:
      - Webhooks
      summary: Delete Recurring Pix Webhook
      operationId: pixDeleteWebhookRecurrenceAutomatic
      responses:
        '204':
          description: Deleted
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/webhookcobr:
    put:
      tags:
      - Webhooks
      summary: Configure Automatic Charge Webhook
      operationId: pixConfigWebhookAutomaticCharge
      responses:
        '200':
          description: Configured
      security:
      - oauth2Pix: []
    get:
      tags:
      - Webhooks
      summary: List Automatic Charge Webhooks
      operationId: pixListWebhookAutomaticCharge
      responses:
        '200':
          description: Webhooks
      security:
      - oauth2Pix: []
    delete:
      tags:
      - Webhooks
      summary: Delete Automatic Charge Webhook
      operationId: pixDeleteWebhookAutomaticCharge
      responses:
        '204':
          description: Deleted
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/gn/webhook/reenviar:
    post:
      tags:
      - Webhooks
      summary: Resend Pix Webhook
      operationId: pixResendWebhook
      responses:
        '200':
          description: Resent
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
components:
  securitySchemes:
    oauth2Contas:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://abrircontas.api.efipay.com.br/v1/oauth/token
          scopes: {}
    oauth2Pix:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.read: Read immediate charges
            cob.write: Create/update immediate charges
            cobv.read: Read due charges
            cobv.write: Create/update due charges
            pix.read: Read received Pix
            pix.write: Manage devolutions
            pix.send: Send Pix
            webhook.read: Read webhook config
            webhook.write: Configure webhooks
            gn.balance.read: Read account balance
x-refined-from:
- efi-contas-openapi.yml
- efi-pix-openapi.yml
