openapi: 3.2.0
info:
  title: Efí Pay Extratos (Statements) Statement Schedules API
  description: Recurring CNAB (Brazilian banking text-file) statement extraction for Efí Pay accounts. Schedule daily/weekly CNAB jobs, list generated files, and download them via the API or via SFTP using a generated key pair.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/extrato-cnab
  license:
    name: Proprietary
servers:
- url: https://extratos.api.efipay.com.br/v1
  description: Production
- url: https://extratos-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2Extratos: []
tags:
- name: Statement Schedules
paths:
  /extrato-cnab/agendamentos:
    get:
      tags:
      - Statement Schedules
      summary: List Statement Schedules
      operationId: listStatementRecurrences
      responses:
        '200':
          description: Schedules
  /extrato-cnab/agendar:
    post:
      tags:
      - Statement Schedules
      summary: Create Statement Schedule
      operationId: createStatementRecurrency
      responses:
        '201':
          description: Schedule created
  /extrato-cnab/agendar/{identificador}:
    patch:
      tags:
      - Statement Schedules
      summary: Update Statement Schedule
      operationId: updateStatementRecurrency
      parameters:
      - name: identificador
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    oauth2Extratos:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://extratos.api.efipay.com.br/v1/oauth/token
          scopes: {}
