openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Bill Payments API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Bill Payments
paths:
  /codBarras/{codBarras}:
    get:
      tags:
      - Bill Payments
      summary: Detail Bar Code
      operationId: payDetailBarCode
      parameters:
      - name: codBarras
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Decoded bar code
    post:
      tags:
      - Bill Payments
      summary: Request Bar Code Payment
      operationId: payRequestBarCode
      parameters:
      - name: codBarras
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Payment scheduled
  /{idPagamento}:
    get:
      tags:
      - Bill Payments
      summary: Detail Bill Payment
      operationId: payDetailPayment
      parameters:
      - name: idPagamento
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Payment detail
  /resumo:
    get:
      tags:
      - Bill Payments
      summary: List Bill Payments
      operationId: payListPayments
      responses:
        '200':
          description: Payments
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
