openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Statement Files API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Statement Files
paths:
  /extrato-cnab/arquivos:
    get:
      tags:
      - Statement Files
      summary: List Statement Files
      operationId: listStatementFiles
      responses:
        '200':
          description: Files
  /extrato-cnab/download/{nome_arquivo}:
    get:
      tags:
      - Statement Files
      summary: Download Statement File
      operationId: getStatementFile
      parameters:
      - name: nome_arquivo
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: File contents
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
