openapi: 3.2.0
info:
  title: Efí Pay Pix Received Pix API
  description: Brazilian Pix instant-payments API for Efí Pay (formerly Gerencianet). Implements the Banco Central do Brasil Pix specification (cob/cobv/cobr, locations, devolutions, Pix keys/EVP) plus Efí Pay extensions for Cash-Out (pixSend), splits, MED infractions, recurring/automatic Pix, statements, receipts, and webhooks. OAuth2 client_credentials with mandatory mutual TLS (P12/PEM certificate).
  version: '2.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/api-pix
  license:
    name: Proprietary
servers:
- url: https://pix.api.efipay.com.br
  description: Production
- url: https://pix-h.api.efipay.com.br
  description: Homologation (Sandbox)
security:
- oauth2Pix: []
tags:
- name: Received Pix
paths:
  /v2/pix:
    get:
      tags:
      - Received Pix
      summary: List Received Pix
      operationId: pixReceivedList
      responses:
        '200':
          description: Received Pix
  /v2/pix/{e2eId}:
    get:
      tags:
      - Received Pix
      summary: Detail Received Pix
      operationId: pixDetailReceived
      parameters:
      - name: e2eId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Received Pix
components:
  securitySchemes:
    oauth2Pix:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.read: Read immediate charges
            cob.write: Create/update immediate charges
            cobv.read: Read due charges
            cobv.write: Create/update due charges
            pix.read: Read received Pix
            pix.write: Manage devolutions
            pix.send: Send Pix
            webhook.read: Read webhook config
            webhook.write: Configure webhooks
            gn.balance.read: Read account balance
