openapi: 3.2.0
info:
  title: Efí Pay Open Finance Biometric Pix API
  description: Open Finance Brasil payment-initiation API for Efí Pay (formerly Gerencianet). Initiate Pix payments across participating banks and fintechs without redirecting users out of your app, including immediate, scheduled, recurring, biometric, and automatic Pix flows. Requires mTLS, OAuth2 client_credentials, and x-idempotency-key headers on every request.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/open-finance
  license:
    name: Proprietary
servers:
- url: https://openfinance.api.efipay.com.br/v1
  description: Production
- url: https://openfinance-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2OpenFinance: []
tags:
- name: Biometric Pix
paths:
  /pagamentos-biometria/vinculos:
    post:
      tags:
      - Biometric Pix
      summary: Create Biometric Enrollment
      operationId: ofCreateBiometricEnrollment
      responses:
        '201':
          description: Enrollment created
    get:
      tags:
      - Biometric Pix
      summary: List Biometric Enrollments
      operationId: ofListBiometricEnrollment
      responses:
        '200':
          description: Enrollments
    patch:
      tags:
      - Biometric Pix
      summary: Revoke Biometric Enrollment
      operationId: ofRevokeBiometricEnrollment
      responses:
        '200':
          description: Revoked
  /pagamentos-biometria/pix:
    post:
      tags:
      - Biometric Pix
      summary: Create Biometric Pix Payment
      operationId: ofCreateBiometricPixPayment
      responses:
        '201':
          description: Created
    get:
      tags:
      - Biometric Pix
      summary: List Biometric Pix Payments
      operationId: ofListBiometricPixPayment
      responses:
        '200':
          description: Payments
components:
  securitySchemes:
    oauth2OpenFinance:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://openfinance.api.efipay.com.br/v1/oauth/token
          scopes:
            openfinance.payments.read: Read payment status
            openfinance.payments.write: Initiate payments
