openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Pix Keys API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Pix Keys
paths:
  /v2/gn/evp:
    post:
      tags:
      - Pix Keys
      summary: Create Random Pix Key
      operationId: pixCreateEvp
      responses:
        '201':
          description: Key created
    get:
      tags:
      - Pix Keys
      summary: List Random Pix Keys
      operationId: pixListEvp
      responses:
        '200':
          description: Keys
  /v2/gn/evp/{chave}:
    delete:
      tags:
      - Pix Keys
      summary: Delete Random Pix Key
      operationId: pixDeleteEvp
      parameters:
      - name: chave
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
  /v2/gn/chaves/balde:
    get:
      tags:
      - Pix Keys
      summary: List Pix Keys Bucket
      operationId: pixKeysBucket
      responses:
        '200':
          description: Bucket
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
