openapi: 3.2.0
info:
  title: Efí Pay Pix Splits API
  description: Brazilian Pix instant-payments API for Efí Pay (formerly Gerencianet). Implements the Banco Central do Brasil Pix specification (cob/cobv/cobr, locations, devolutions, Pix keys/EVP) plus Efí Pay extensions for Cash-Out (pixSend), splits, MED infractions, recurring/automatic Pix, statements, receipts, and webhooks. OAuth2 client_credentials with mandatory mutual TLS (P12/PEM certificate).
  version: '2.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/api-pix
  license:
    name: Proprietary
servers:
- url: https://pix.api.efipay.com.br
  description: Production
- url: https://pix-h.api.efipay.com.br
  description: Homologation (Sandbox)
security:
- oauth2Pix: []
tags:
- name: Splits
paths:
  /v2/gn/split/cob/{txid}:
    get:
      tags:
      - Splits
      summary: Detail Charge Split
      operationId: pixSplitDetailCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Split
  /v2/gn/split/cob/{txid}/vinculo/{splitConfigId}:
    put:
      tags:
      - Splits
      summary: Link Split To Charge
      operationId: pixSplitLinkCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      - name: splitConfigId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Linked
    delete:
      tags:
      - Splits
      summary: Unlink Split From Charge
      operationId: pixSplitUnlinkCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      - name: splitConfigId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Unlinked
  /v2/gn/split/cobv/{txid}:
    get:
      tags:
      - Splits
      summary: Detail Due Charge Split
      operationId: pixSplitDetailDueCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Split
  /v2/gn/split/cobv/{txid}/vinculo/{splitConfigId}:
    put:
      tags:
      - Splits
      summary: Link Split To Due Charge
      operationId: pixSplitLinkDueCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      - name: splitConfigId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Linked
    delete:
      tags:
      - Splits
      summary: Unlink Split From Due Charge
      operationId: pixSplitUnlinkDueCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      - name: splitConfigId
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Unlinked
  /v2/gn/split/config:
    post:
      tags:
      - Splits
      summary: Create Split Config
      operationId: pixSplitConfig
      responses:
        '201':
          description: Created
  /v2/gn/split/config/{id}:
    put:
      tags:
      - Splits
      summary: Update Split Config
      operationId: pixSplitConfigId
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    get:
      tags:
      - Splits
      summary: Detail Split Config
      operationId: pixSplitDetailConfig
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Config
components:
  securitySchemes:
    oauth2Pix:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.read: Read immediate charges
            cob.write: Create/update immediate charges
            cobv.read: Read due charges
            cobv.write: Create/update due charges
            pix.read: Read received Pix
            pix.write: Manage devolutions
            pix.send: Send Pix
            webhook.read: Read webhook config
            webhook.write: Configure webhooks
            gn.balance.read: Read account balance
