openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Plans API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Plans
paths:
  /plans:
    get:
      tags:
      - Plans
      summary: List Plans
      operationId: listPlans
      responses:
        '200':
          description: Plans
  /plan:
    post:
      tags:
      - Plans
      summary: Create Plan
      operationId: createPlan
      responses:
        '200':
          description: Plan created
  /plan/{id}:
    put:
      tags:
      - Plans
      summary: Update Plan
      operationId: updatePlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Updated
    delete:
      tags:
      - Plans
      summary: Delete Plan
      operationId: deletePlan
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Deleted
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
