openapi: 3.2.0
info:
  title: Efí Pay Pix Pix Keys API
  description: Brazilian Pix instant-payments API for Efí Pay (formerly Gerencianet). Implements the Banco Central do Brasil Pix specification (cob/cobv/cobr, locations, devolutions, Pix keys/EVP) plus Efí Pay extensions for Cash-Out (pixSend), splits, MED infractions, recurring/automatic Pix, statements, receipts, and webhooks. OAuth2 client_credentials with mandatory mutual TLS (P12/PEM certificate).
  version: '2.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/api-pix
  license:
    name: Proprietary
servers:
- url: https://pix.api.efipay.com.br
  description: Production
- url: https://pix-h.api.efipay.com.br
  description: Homologation (Sandbox)
security:
- oauth2Pix: []
tags:
- name: Pix Keys
paths:
  /v2/gn/evp:
    post:
      tags:
      - Pix Keys
      summary: Create Random Pix Key
      operationId: pixCreateEvp
      responses:
        '201':
          description: Key created
    get:
      tags:
      - Pix Keys
      summary: List Random Pix Keys
      operationId: pixListEvp
      responses:
        '200':
          description: Keys
  /v2/gn/evp/{chave}:
    delete:
      tags:
      - Pix Keys
      summary: Delete Random Pix Key
      operationId: pixDeleteEvp
      parameters:
      - name: chave
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deleted
  /v2/gn/chaves/balde:
    get:
      tags:
      - Pix Keys
      summary: List Pix Keys Bucket
      operationId: pixKeysBucket
      responses:
        '200':
          description: Bucket
components:
  securitySchemes:
    oauth2Pix:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.read: Read immediate charges
            cob.write: Create/update immediate charges
            cobv.read: Read due charges
            cobv.write: Create/update due charges
            pix.read: Read received Pix
            pix.write: Manage devolutions
            pix.send: Send Pix
            webhook.read: Read webhook config
            webhook.write: Configure webhooks
            gn.balance.read: Read account balance
