openapi: 3.2.0
info:
  title: Efí Pay Open Finance Automatic Pix API
  description: Open Finance Brasil payment-initiation API for Efí Pay (formerly Gerencianet). Initiate Pix payments across participating banks and fintechs without redirecting users out of your app, including immediate, scheduled, recurring, biometric, and automatic Pix flows. Requires mTLS, OAuth2 client_credentials, and x-idempotency-key headers on every request.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/open-finance
  license:
    name: Proprietary
servers:
- url: https://openfinance.api.efipay.com.br/v1
  description: Production
- url: https://openfinance-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2OpenFinance: []
tags:
- name: Automatic Pix
paths:
  /pagamentos-automaticos/adesao:
    post:
      tags:
      - Automatic Pix
      summary: Create Automatic Pix Enrollment
      operationId: ofCreateAutomaticEnrollment
      responses:
        '201':
          description: Enrolled
    get:
      tags:
      - Automatic Pix
      summary: List Automatic Pix Enrollments
      operationId: ofListAutomaticEnrollment
      responses:
        '200':
          description: Enrollments
    patch:
      tags:
      - Automatic Pix
      summary: Update Automatic Pix Enrollment
      operationId: ofUpdateAutomaticEnrollment
      responses:
        '200':
          description: Updated
  /pagamentos-automaticos/pix:
    post:
      tags:
      - Automatic Pix
      summary: Create Automatic Pix Payment
      operationId: ofCreateAutomaticPixPayment
      responses:
        '201':
          description: Created
    get:
      tags:
      - Automatic Pix
      summary: List Automatic Pix Payments
      operationId: ofListAutomaticPixPayment
      responses:
        '200':
          description: Payments
    patch:
      tags:
      - Automatic Pix
      summary: Cancel Automatic Pix Payment
      operationId: ofCancelAutomaticPixPayment
      responses:
        '200':
          description: Cancelled
components:
  securitySchemes:
    oauth2OpenFinance:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://openfinance.api.efipay.com.br/v1/oauth/token
          scopes:
            openfinance.payments.read: Read payment status
            openfinance.payments.write: Initiate payments
