openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Due Charges API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Due Charges
paths:
  /v2/cobv:
    get:
      tags:
      - Due Charges
      summary: List Pix Due Charges
      operationId: pixListDueCharges
      responses:
        '200':
          description: Due charges
  /v2/cobv/{txid}:
    put:
      tags:
      - Due Charges
      summary: Create Pix Due Charge
      operationId: pixCreateDueCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
    patch:
      tags:
      - Due Charges
      summary: Update Pix Due Charge
      operationId: pixUpdateDueCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    get:
      tags:
      - Due Charges
      summary: Detail Pix Due Charge
      operationId: pixDetailDueCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Due charge
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
