openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Scheduled Pix API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Scheduled Pix
paths:
  /pagamentos-agendados/pix:
    post:
      tags:
      - Scheduled Pix
      summary: Start Scheduled Pix
      operationId: ofStartSchedulePixPayment
      responses:
        '201':
          description: Scheduled
    get:
      tags:
      - Scheduled Pix
      summary: List Scheduled Pix
      operationId: ofListSchedulePixPayment
      responses:
        '200':
          description: Scheduled list
  /pagamentos-agendados/pix/{identificadorPagamento}/cancelar:
    patch:
      tags:
      - Scheduled Pix
      summary: Cancel Scheduled Pix
      operationId: ofCancelSchedulePix
      parameters:
      - name: identificadorPagamento
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cancelled
  /pagamentos-agendados/pix/{identificadorPagamento}/devolver:
    post:
      tags:
      - Scheduled Pix
      summary: Refund Scheduled Pix
      operationId: ofDevolutionSchedulePix
      parameters:
      - name: identificadorPagamento
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Refunded
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
