openapi: 3.2.0
info:
  title: Efí Pay Open Finance Immediate Pix API
  description: Open Finance Brasil payment-initiation API for Efí Pay (formerly Gerencianet). Initiate Pix payments across participating banks and fintechs without redirecting users out of your app, including immediate, scheduled, recurring, biometric, and automatic Pix flows. Requires mTLS, OAuth2 client_credentials, and x-idempotency-key headers on every request.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/open-finance
  license:
    name: Proprietary
servers:
- url: https://openfinance.api.efipay.com.br/v1
  description: Production
- url: https://openfinance-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2OpenFinance: []
tags:
- name: Immediate Pix
paths:
  /pagamentos/pix:
    post:
      tags:
      - Immediate Pix
      summary: Start Pix Payment
      operationId: ofStartPixPayment
      responses:
        '201':
          description: Started
    get:
      tags:
      - Immediate Pix
      summary: List Pix Payments
      operationId: ofListPixPayment
      responses:
        '200':
          description: Payments
  /pagamentos/pix/{identificadorPagamento}/devolver:
    post:
      tags:
      - Immediate Pix
      summary: Refund Pix Payment
      operationId: ofDevolutionPix
      parameters:
      - name: identificadorPagamento
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Refunded
components:
  securitySchemes:
    oauth2OpenFinance:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://openfinance.api.efipay.com.br/v1/oauth/token
          scopes:
            openfinance.payments.read: Read payment status
            openfinance.payments.write: Initiate payments
