openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Account
paths:
  /v2/gn/saldo:
    get:
      tags:
      - Account
      summary: Get Account Balance
      operationId: getAccountBalance
      responses:
        '200':
          description: Balance
  /v2/gn/config:
    get:
      tags:
      - Account
      summary: List Account Config
      operationId: listAccountConfig
      responses:
        '200':
          description: Config
    put:
      tags:
      - Account
      summary: Update Account Config
      operationId: updateAccountConfig
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
