openapi: 3.2.0
info:
  title: Efí Pay Pix Automatic Charges API
  description: Brazilian Pix instant-payments API for Efí Pay (formerly Gerencianet). Implements the Banco Central do Brasil Pix specification (cob/cobv/cobr, locations, devolutions, Pix keys/EVP) plus Efí Pay extensions for Cash-Out (pixSend), splits, MED infractions, recurring/automatic Pix, statements, receipts, and webhooks. OAuth2 client_credentials with mandatory mutual TLS (P12/PEM certificate).
  version: '2.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/api-pix
  license:
    name: Proprietary
servers:
- url: https://pix.api.efipay.com.br
  description: Production
- url: https://pix-h.api.efipay.com.br
  description: Homologation (Sandbox)
security:
- oauth2Pix: []
tags:
- name: Automatic Charges
paths:
  /v2/cobr:
    post:
      tags:
      - Automatic Charges
      summary: Create Automatic Pix Charge
      operationId: pixCreateAutomaticCharge
      responses:
        '201':
          description: Created
    get:
      tags:
      - Automatic Charges
      summary: List Automatic Pix Charges
      operationId: pixListAutomaticCharge
      responses:
        '200':
          description: Charges
  /v2/cobr/{txid}:
    put:
      tags:
      - Automatic Charges
      summary: Create Automatic Pix Charge With Txid
      operationId: pixCreateAutomaticChargeTxid
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
    patch:
      tags:
      - Automatic Charges
      summary: Update Automatic Pix Charge
      operationId: pixUpdateAutomaticCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    get:
      tags:
      - Automatic Charges
      summary: Detail Automatic Pix Charge
      operationId: pixDetailAutomaticCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Charge
  /v2/cobr/{txid}/retentativa/{data}:
    post:
      tags:
      - Automatic Charges
      summary: Retry Automatic Pix Charge
      operationId: pixRetryRequestAutomaticCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      - name: data
        in: path
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Retried
components:
  securitySchemes:
    oauth2Pix:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.read: Read immediate charges
            cob.write: Create/update immediate charges
            cobv.read: Read due charges
            cobv.write: Create/update due charges
            pix.read: Read received Pix
            pix.write: Manage devolutions
            pix.send: Send Pix
            webhook.read: Read webhook config
            webhook.write: Configure webhooks
            gn.balance.read: Read account balance
