openapi: 3.2.0
info:
  title: Efí Pay Pix Due Charge Batches API
  description: Brazilian Pix instant-payments API for Efí Pay (formerly Gerencianet). Implements the Banco Central do Brasil Pix specification (cob/cobv/cobr, locations, devolutions, Pix keys/EVP) plus Efí Pay extensions for Cash-Out (pixSend), splits, MED infractions, recurring/automatic Pix, statements, receipts, and webhooks. OAuth2 client_credentials with mandatory mutual TLS (P12/PEM certificate).
  version: '2.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/api-pix
  license:
    name: Proprietary
servers:
- url: https://pix.api.efipay.com.br
  description: Production
- url: https://pix-h.api.efipay.com.br
  description: Homologation (Sandbox)
security:
- oauth2Pix: []
tags:
- name: Due Charge Batches
paths:
  /v2/lotecobv:
    get:
      tags:
      - Due Charge Batches
      summary: List Due Charge Batches
      operationId: pixListDueChargeBatch
      responses:
        '200':
          description: Batches
  /v2/lotecobv/{id}:
    put:
      tags:
      - Due Charge Batches
      summary: Create Due Charge Batch
      operationId: pixCreateDueChargeBatch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
    patch:
      tags:
      - Due Charge Batches
      summary: Update Due Charge Batch
      operationId: pixUpdateDueChargeBatch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    get:
      tags:
      - Due Charge Batches
      summary: Detail Due Charge Batch
      operationId: pixDetailDueChargeBatch
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Batch
components:
  securitySchemes:
    oauth2Pix:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.read: Read immediate charges
            cob.write: Create/update immediate charges
            cobv.read: Read due charges
            cobv.write: Create/update due charges
            pix.read: Read received Pix
            pix.write: Manage devolutions
            pix.send: Send Pix
            webhook.read: Read webhook config
            webhook.write: Configure webhooks
            gn.balance.read: Read account balance
