openapi: 3.2.0
info:
  title: Gerencianet Recurring Pix API
  license:
    name: Proprietary
  version: '1.0'
  description: 'Operations tagged Recurring Pix across 2 of this provider''s published API definitions: efi-openfinance-openapi.yml, efi-pix-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://openfinance.api.efipay.com.br/v1
  description: Production
- url: https://openfinance-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
- url: https://pix.api.efipay.com.br
  description: Production
- url: https://pix-h.api.efipay.com.br
  description: Homologation (Sandbox)
tags:
- name: Recurring Pix
paths:
  /pagamentos-recorrentes/pix:
    post:
      tags:
      - Recurring Pix
      summary: Start Recurring Pix
      operationId: ofStartRecurrencyPixPayment
      responses:
        '201':
          description: Started
      security:
      - oauth2OpenFinance: []
    get:
      tags:
      - Recurring Pix
      summary: List Recurring Pix
      operationId: ofListRecurrencyPixPayment
      responses:
        '200':
          description: Recurring Pix
      security:
      - oauth2OpenFinance: []
    servers:
    - url: https://openfinance.api.efipay.com.br/v1
      description: Production
    - url: https://openfinance-h.api.efipay.com.br/v1
      description: Homologation (Sandbox)
  /pagamentos-recorrentes/pix/{identificadorPagamento}/cancelar:
    patch:
      tags:
      - Recurring Pix
      summary: Cancel Recurring Pix
      operationId: ofCancelRecurrencyPix
      parameters:
      - name: identificadorPagamento
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Cancelled
      security:
      - oauth2OpenFinance: []
    servers:
    - url: https://openfinance.api.efipay.com.br/v1
      description: Production
    - url: https://openfinance-h.api.efipay.com.br/v1
      description: Homologation (Sandbox)
  /pagamentos-recorrentes/pix/{identificadorPagamento}/devolver:
    post:
      tags:
      - Recurring Pix
      summary: Refund Recurring Pix
      operationId: ofDevolutionRecurrencyPix
      parameters:
      - name: identificadorPagamento
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Refunded
      security:
      - oauth2OpenFinance: []
    servers:
    - url: https://openfinance.api.efipay.com.br/v1
      description: Production
    - url: https://openfinance-h.api.efipay.com.br/v1
      description: Homologation (Sandbox)
  /pagamentos-recorrentes/pix/{identificadorPagamento}/substituir/{endToEndId}:
    patch:
      tags:
      - Recurring Pix
      summary: Replace Recurring Pix Parcel
      operationId: ofReplaceRecurrencyPixParcel
      parameters:
      - name: identificadorPagamento
        in: path
        required: true
        schema:
          type: string
      - name: endToEndId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Replaced
      security:
      - oauth2OpenFinance: []
    servers:
    - url: https://openfinance.api.efipay.com.br/v1
      description: Production
    - url: https://openfinance-h.api.efipay.com.br/v1
      description: Homologation (Sandbox)
  /v2/rec:
    post:
      tags:
      - Recurring Pix
      summary: Create Recurring Pix
      operationId: pixCreateRecurrenceAutomatic
      responses:
        '201':
          description: Created
      security:
      - oauth2Pix: []
    get:
      tags:
      - Recurring Pix
      summary: List Recurring Pix
      operationId: pixListRecurrenceAutomatic
      responses:
        '200':
          description: Recurrences
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/rec/{idRec}:
    get:
      tags:
      - Recurring Pix
      summary: Detail Recurring Pix
      operationId: pixDetailRecurrenceAutomatic
      parameters:
      - name: idRec
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Recurrence
      security:
      - oauth2Pix: []
    patch:
      tags:
      - Recurring Pix
      summary: Update Recurring Pix
      operationId: pixUpdateRecurrenceAutomatic
      parameters:
      - name: idRec
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/solicrec:
    post:
      tags:
      - Recurring Pix
      summary: Create Recurring Pix Request
      operationId: pixCreateRequestRecurrenceAutomatic
      responses:
        '201':
          description: Created
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/solicrec/{idSolicRec}:
    get:
      tags:
      - Recurring Pix
      summary: Detail Recurring Pix Request
      operationId: pixDetailRequestRecurrenceAutomatic
      parameters:
      - name: idSolicRec
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Request
      security:
      - oauth2Pix: []
    patch:
      tags:
      - Recurring Pix
      summary: Update Recurring Pix Request
      operationId: pixUpdateRequestRecurrenceAutomatic
      parameters:
      - name: idSolicRec
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/locrec:
    post:
      tags:
      - Recurring Pix
      summary: Create Recurring Pix Location
      operationId: pixCreateLocationRecurrenceAutomatic
      responses:
        '201':
          description: Created
      security:
      - oauth2Pix: []
    get:
      tags:
      - Recurring Pix
      summary: List Recurring Pix Locations
      operationId: pixListLocationRecurrenceAutomatic
      responses:
        '200':
          description: Locations
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/locrec/{id}:
    get:
      tags:
      - Recurring Pix
      summary: Detail Recurring Pix Location
      operationId: pixDetailLocationRecurrenceAutomatic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Location
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
  /v2/locrec/{id}/idRec:
    delete:
      tags:
      - Recurring Pix
      summary: Unlink Recurring Pix Location
      operationId: pixUnlinkLocationRecurrenceAutomatic
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Unlinked
      security:
      - oauth2Pix: []
    servers:
    - url: https://pix.api.efipay.com.br
      description: Production
    - url: https://pix-h.api.efipay.com.br
      description: Homologation (Sandbox)
components:
  securitySchemes:
    oauth2OpenFinance:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://openfinance.api.efipay.com.br/v1/oauth/token
          scopes:
            openfinance.payments.read: Read payment status
            openfinance.payments.write: Initiate payments
    oauth2Pix:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://pix.api.efipay.com.br/oauth/token
          scopes:
            cob.read: Read immediate charges
            cob.write: Create/update immediate charges
            cobv.read: Read due charges
            cobv.write: Create/update due charges
            pix.read: Read received Pix
            pix.write: Manage devolutions
            pix.send: Send Pix
            webhook.read: Read webhook config
            webhook.write: Configure webhooks
            gn.balance.read: Read account balance
x-refined-from:
- efi-openfinance-openapi.yml
- efi-pix-openapi.yml
