openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Automatic Charges API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Automatic Charges
paths:
  /v2/cobr:
    post:
      tags:
      - Automatic Charges
      summary: Create Automatic Pix Charge
      operationId: pixCreateAutomaticCharge
      responses:
        '201':
          description: Created
    get:
      tags:
      - Automatic Charges
      summary: List Automatic Pix Charges
      operationId: pixListAutomaticCharge
      responses:
        '200':
          description: Charges
  /v2/cobr/{txid}:
    put:
      tags:
      - Automatic Charges
      summary: Create Automatic Pix Charge With Txid
      operationId: pixCreateAutomaticChargeTxid
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
    patch:
      tags:
      - Automatic Charges
      summary: Update Automatic Pix Charge
      operationId: pixUpdateAutomaticCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    get:
      tags:
      - Automatic Charges
      summary: Detail Automatic Pix Charge
      operationId: pixDetailAutomaticCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Charge
  /v2/cobr/{txid}/retentativa/{data}:
    post:
      tags:
      - Automatic Charges
      summary: Retry Automatic Pix Charge
      operationId: pixRetryRequestAutomaticCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      - name: data
        in: path
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Retried
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
