openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Locations API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Locations
paths:
  /v2/loc:
    post:
      tags:
      - Locations
      summary: Create Pix Location
      operationId: pixCreateLocation
      responses:
        '201':
          description: Location
    get:
      tags:
      - Locations
      summary: List Pix Locations
      operationId: pixLocationList
      responses:
        '200':
          description: Locations
  /v2/loc/{id}:
    get:
      tags:
      - Locations
      summary: Detail Pix Location
      operationId: pixDetailLocation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Location
  /v2/loc/{id}/txid:
    delete:
      tags:
      - Locations
      summary: Unlink Txid From Location
      operationId: pixUnlinkTxidLocation
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: Unlinked
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
