openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Subscriptions API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Subscriptions
paths:
  /plan/{id}/subscription:
    post:
      tags:
      - Subscriptions
      summary: Create Subscription
      operationId: createSubscription
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Subscription created
  /plan/{id}/subscription/one-step:
    post:
      tags:
      - Subscriptions
      summary: Create One Step Subscription
      operationId: createOneStepSubscription
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Subscription created
  /plan/{id}/subscription/one-step/link:
    post:
      tags:
      - Subscriptions
      summary: Create One Step Subscription Link
      operationId: createOneStepSubscriptionLink
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Link created
  /subscription/{id}:
    get:
      tags:
      - Subscriptions
      summary: Detail Subscription
      operationId: detailSubscription
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Subscription detail
    put:
      tags:
      - Subscriptions
      summary: Update Subscription
      operationId: updateSubscription
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Updated
  /subscription/{id}/pay:
    post:
      tags:
      - Subscriptions
      summary: Define Subscription Payment Method
      operationId: defineSubscriptionPayMethod
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Applied
  /subscription/{id}/cancel:
    put:
      tags:
      - Subscriptions
      summary: Cancel Subscription
      operationId: cancelSubscription
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Cancelled
  /subscription/{id}/metadata:
    put:
      tags:
      - Subscriptions
      summary: Update Subscription Metadata
      operationId: updateSubscriptionMetadata
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Updated
  /subscription/{id}/history:
    post:
      tags:
      - Subscriptions
      summary: Create Subscription History Note
      operationId: createSubscriptionHistory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Note added
  /charge/{id}/subscription/resend:
    post:
      tags:
      - Subscriptions
      summary: Send Subscription Link Email
      operationId: sendSubscriptionLinkEmail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Email queued
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
