openapi: 3.2.0
info:
  title: Efí Pay Open Finance Configuration API
  description: Open Finance Brasil payment-initiation API for Efí Pay (formerly Gerencianet). Initiate Pix payments across participating banks and fintechs without redirecting users out of your app, including immediate, scheduled, recurring, biometric, and automatic Pix flows. Requires mTLS, OAuth2 client_credentials, and x-idempotency-key headers on every request.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br/docs/open-finance
  license:
    name: Proprietary
servers:
- url: https://openfinance.api.efipay.com.br/v1
  description: Production
- url: https://openfinance-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2OpenFinance: []
tags:
- name: Configuration
paths:
  /config:
    get:
      tags:
      - Configuration
      summary: Get Open Finance Config
      operationId: ofConfigDetail
      responses:
        '200':
          description: Config
    put:
      tags:
      - Configuration
      summary: Update Open Finance Config
      operationId: ofConfigUpdate
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    oauth2OpenFinance:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://openfinance.api.efipay.com.br/v1/oauth/token
          scopes:
            openfinance.payments.read: Read payment status
            openfinance.payments.write: Initiate payments
