openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Carnets API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Carnets
paths:
  /carnet:
    post:
      tags:
      - Carnets
      summary: Create Carnet
      operationId: createCarnet
      responses:
        '200':
          description: Carnet created
  /carnet/{id}:
    get:
      tags:
      - Carnets
      summary: Detail Carnet
      operationId: detailCarnet
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Carnet detail
  /carnet/{id}/parcels:
    put:
      tags:
      - Carnets
      summary: Update Carnet Parcels
      operationId: updateCarnetParcels
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Parcels updated
  /carnet/{id}/parcel/{parcel}:
    put:
      tags:
      - Carnets
      summary: Update Carnet Parcel
      operationId: updateCarnetParcel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: parcel
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Parcel updated
  /carnet/{id}/parcel/{parcel}/cancel:
    put:
      tags:
      - Carnets
      summary: Cancel Carnet Parcel
      operationId: cancelCarnetParcel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: parcel
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Cancelled
  /carnet/{id}/parcel/{parcel}/settle:
    put:
      tags:
      - Carnets
      summary: Settle Carnet Parcel
      operationId: settleCarnetParcel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: parcel
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Settled
  /carnet/{id}/parcel/{parcel}/resend:
    post:
      tags:
      - Carnets
      summary: Send Carnet Parcel Email
      operationId: sendCarnetParcelEmail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      - name: parcel
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Email queued
  /carnet/{id}/cancel:
    put:
      tags:
      - Carnets
      summary: Cancel Carnet
      operationId: cancelCarnet
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Cancelled
  /carnet/{id}/settle:
    put:
      tags:
      - Carnets
      summary: Settle Carnet
      operationId: settleCarnet
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Settled
  /carnet/{id}/history:
    post:
      tags:
      - Carnets
      summary: Create Carnet History Note
      operationId: createCarnetHistory
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Note added
  /carnet/{id}/metadata:
    put:
      tags:
      - Carnets
      summary: Update Carnet Metadata
      operationId: updateCarnetMetadata
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Metadata updated
  /carnet/{id}/resend:
    post:
      tags:
      - Carnets
      summary: Send Carnet Email
      operationId: sendCarnetEmail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Email queued
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
