openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Automatic Pix API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Automatic Pix
paths:
  /pagamentos-automaticos/adesao:
    post:
      tags:
      - Automatic Pix
      summary: Create Automatic Pix Enrollment
      operationId: ofCreateAutomaticEnrollment
      responses:
        '201':
          description: Enrolled
    get:
      tags:
      - Automatic Pix
      summary: List Automatic Pix Enrollments
      operationId: ofListAutomaticEnrollment
      responses:
        '200':
          description: Enrollments
    patch:
      tags:
      - Automatic Pix
      summary: Update Automatic Pix Enrollment
      operationId: ofUpdateAutomaticEnrollment
      responses:
        '200':
          description: Updated
  /pagamentos-automaticos/pix:
    post:
      tags:
      - Automatic Pix
      summary: Create Automatic Pix Payment
      operationId: ofCreateAutomaticPixPayment
      responses:
        '201':
          description: Created
    get:
      tags:
      - Automatic Pix
      summary: List Automatic Pix Payments
      operationId: ofListAutomaticPixPayment
      responses:
        '200':
          description: Payments
    patch:
      tags:
      - Automatic Pix
      summary: Cancel Automatic Pix Payment
      operationId: ofCancelAutomaticPixPayment
      responses:
        '200':
          description: Cancelled
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
