openapi: 3.0.3
info:
  title: Efí Pay Cobranças Account Immediate Charges API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Immediate Charges
paths:
  /v2/cob:
    post:
      tags:
      - Immediate Charges
      summary: Create Immediate Pix Charge
      operationId: pixCreateImmediateCharge
      responses:
        '201':
          description: Charge created
    get:
      tags:
      - Immediate Charges
      summary: List Immediate Pix Charges
      operationId: pixListCharges
      responses:
        '200':
          description: Charges
  /v2/cob/{txid}:
    put:
      tags:
      - Immediate Charges
      summary: Create Immediate Pix Charge With Txid
      operationId: pixCreateCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
    patch:
      tags:
      - Immediate Charges
      summary: Update Immediate Pix Charge
      operationId: pixUpdateCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
    get:
      tags:
      - Immediate Charges
      summary: Detail Immediate Pix Charge
      operationId: pixDetailCharge
      parameters:
      - name: txid
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Charge
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
