openapi: 3.2.0
info:
  title: Efí Pay Cobranças Payment Links API
  description: Billing API for Efí Pay (formerly Gerencianet). Issue boletos (Brazilian bank slips), Bolix (next-business-day boletos), carnês (installment booklets), payment links, credit card charges, subscriptions/recurring billing, and marketplace payment splits. OAuth2 with HTTP Basic for client_credentials.
  version: '1.0'
  contact:
    name: Efí Pay Developer Support
    url: https://dev.efipay.com.br
  license:
    name: Proprietary
servers:
- url: https://cobrancas.api.efipay.com.br/v1
  description: Production
- url: https://cobrancas-h.api.efipay.com.br/v1
  description: Homologation (Sandbox)
security:
- oauth2ClientCredentials: []
tags:
- name: Payment Links
paths:
  /charge/one-step/link:
    post:
      tags:
      - Payment Links
      summary: Create One Step Charge Link
      operationId: createOneStepLink
      responses:
        '200':
          description: Link created
  /charge/{id}/link:
    post:
      tags:
      - Payment Links
      summary: Create Charge Link
      operationId: linkCharge
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Link created
    put:
      tags:
      - Payment Links
      summary: Update Charge Link
      operationId: updateChargeLink
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Link updated
  /charge/{id}/link/resend:
    post:
      tags:
      - Payment Links
      summary: Send Link Email
      operationId: sendLinkEmail
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Email queued
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://cobrancas.api.efipay.com.br/v1/authorize
          scopes: {}
